<a href="https://colab.research.google.com/github/sumusa/Hamoye-Internship-Notes/blob/master/Stage_A_Graded_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Create a list with the elements of A and B in a single dimension output
A = [1,2,3,4,5,6]
B = [13,21,34]
AB = A+B
print (AB)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [3]:
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [4]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [5]:
#read in the fuel dataset
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fuel_data = pd.read_csv(url, error_bad_lines = False)

In [6]:
fuel_data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [7]:
fuel_data.describe(include = 'all')

                     record_id  ...  fuel_cost_per_mmbtu
count                    29523  ...         29523.000000
unique                   29523  ...                  NaN
top     f1_fuel_2018_12_82_0_1  ...                  NaN
freq                         1  ...                  NaN
mean                       NaN  ...            19.304354
std                        NaN  ...          2091.540939
min                        NaN  ...           -41.501000
25%                        NaN  ...             1.940000
50%                        NaN  ...             4.127000
75%                        NaN  ...             7.745000
max                        NaN  ...        359278.000000

[11 rows x 11 columns]

In [8]:
print(fuel_data[fuel_data['fuel_cost_per_unit_burned'] == -276.080000].index.values)

[7733]

In [9]:
print(fuel_data["fuel_type_code_pudl"].iloc[7733])

waste

In [10]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [11]:
fuel_data.shape

(29523, 11)

In [12]:
(180/29523)*100

0.609694136774718

In [13]:
fuel_data.skew()

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [14]:
fuel_data.kurt()

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

In [15]:
fuel_data.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

In [16]:
a = fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()
a

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [17]:
max(a) #shows year 1997 has the highest average

11140.19723948813

In [18]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_burned'].count()

report_year
1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
1999    1050
2000    1373
2001    1356
2002    1205
2003    1211
2004    1192
2005    1269
2006    1243
2007    1264
2008    1228
2009    1222
2010    1261
2011    1240
2012    1243
2013    1199
2014    1171
2015    1093
2016    1034
2017     993
2018     951
Name: fuel_cost_per_unit_burned, dtype: int64

In [19]:
coal = fuel_data.loc[fuel_data['fuel_type_code_pudl']== 'coal']

In [20]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned','report_year'[1994,1998]].count()

TypeError: ignored